
#formulario{
    background: rgb(5, 120, 197);
    padding: 45px;
    font-family: cursive;


}

.form-titulo{
    background: rgb(32, 192, 255);
    padding: 20px;
    text-align: center;
    color: whitesmoke;
    border-bottom: solid 5px red;
    border-radius: 8px 8px 0px 0px;

    
}

.form-registro{
    width: 95%;
    margin: auto;
    max-width: 500px;
    background: white;
    border-radius: 8px;

}
.contenedor-input{
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    padding: 10px;
    margin-bottom: 10px;

}

.col-sm{
    width: 42%;

}


.col-xl{
    width: 100%;
}

.btn-postular{
    background: red;
    color: white;
    margin: auto;
    border-radius: 7px;

}